APP_NAME=Ransomware Resilience Platform
ENVIRONMENT=dev
API_PREFIX=/api/v1
SECRET_KEY=super-secret
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256
POSTGRES_DSN=postgresql+asyncpg://postgres:postgres@postgres:5432/resilience
REDIS_URL=redis://redis:6379/0
ENCRYPTION_KEY=bXlzdXBlcnNlY3JldGtleW15c3VwZXJzZWNyZXRrZXk=
